#spring.redis.host=localhost
#spring.redis.port=6379
#spring.redis.database=1
#  # 连接池最大连接数（适用负值表示没有限制）
#spring.redis.jedis.pool.max-active=8
#  # 连接池最大阻塞等待时间（使用负值表示没有限制）
#spring.redis.jedis.pool.max-wait=-1
#  # 连接池中的最大空闲连接
#spring.redis.jedis.pool.max-idle=500
#  # 连接池中的最小空闲连接
#spring.redis.jedis.pool.min-idle=0
#  # 连接超时时间(毫秒)
#spring.redis.timeout=500
spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://127.0.0.1:3306/shiro
    username: root
    password: lcl20000323
  redis:
    host: localhost
    port: 6379
    jedis:
      pool:
        min-idle: 0
        max-idle: 500
        max-active: 8
        max-wait: -1
    lettuce:
      shutdown-timeout: 500
mybatis:
  mapper-locations: "classpath*:mapper/*.xml"